# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
# Local .env files
.env
# IDE and OS files
.vscode/
.DS_Store
Thumbs.db
